.services-container {
    padding: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.filters select {
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
    transition: border-color 0.3s ease;
}

.filters select:focus {
    outline: none;
    border-color: #2E8B57;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}
.reset-button {
    margin: 0 5px; 
    background-color: #354cc1;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.9s;
}

.reset-button:hover {
    background-color: #452fd3; 
}
